*.iml
.gradle
/local.properties
/.idea
/.idea/vcs.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
app/src/androidTest/java/com/barwickapplications/vlsmsubnetmaskcalculator/ExampleInstrumentedTest.java
app/src/test/java/com/barwickapplications/vlsmsubnetmaskcalculator/ExampleUnitTest.java
app/release/app-release.apk
app/release/output.json
